# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Docker
*.log
*.pid
*.seed
*.bak
*.tmp
*.swp
.dockerignore

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
